body {
    background-color: #f8f9fa;
}

/* .box{
    height: 100%;
} */
@media (max-width: 767px) {
    .image-column {
        height: 30vh;
    }
}
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}
/* .color{
    background-color: gray;
} */

.custom-bg-color {
    background-color: #4450c7; /* Dark purple background color */
    color: #fff; /* White text color for better contrast */
}

.badge-custom {
    background-color: #ff5733; /* Coral color for the badge */
    color: #fff; /* White text color for better contrast */
}

/* Typography */
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333; /* Dark text color for headings */
}

p {
    font-family: 'Arial', sans-serif;
    color: #555; /* Slightly darker text color for paragraphs */
}


/* TABLES */
    h1 {
            color: #343a40; /* Dark text color for headings */
        }

        table {
            background-color: #fff; /* White background color for the table */
            border-radius: 10px; /* Rounded corners for the table */
        }

        th, td,tr {
            text-align: center; /* Center-align content in table cells */
            vertical-align: middle; /* Vertically center-align content */
        }

        th {
            background-color: #343a40; /* Dark background color for table headers */
            color: #fff; /* White text color for table headers */
            font-weight: 600; /* Bold font weight for headers */
        }

        .table-action {
            width: 150px; /* Set a specific width for the "Action" column */
        }

       .table img {
            max-width: 100%; /* Ensure images don't exceed their container width */
            border-radius: 50%; /* Create circular images */
        }

     